doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title OrderCMS
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.5
    link(rel='stylesheet', href='../public/bootstrap/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // datepicker
    link(rel='stylesheet', href='../public/bootstrap/css/datepicker.css')
    // DataTables
    link(rel='stylesheet', href='../public/plugins/datatables/dataTables.bootstrap.css')
    // Theme style
    link(rel='stylesheet', href='../public/dist/css/AdminLTE.min.css')
    //
      AdminLTE Skins. Choose a skin from the css/skins
      folder instead of downloading all of them to reduce the load.
    link(rel='stylesheet', href='../public/dist/css/skins/_all-skins.min.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      header.main-header
        // Logo
        a.logo(href='/itemList')
          // mini logo for sidebar mini 50x50 pixels
          span.logo-mini
            b A
            | LT
          // logo for regular state and mobile devices
          span.logo-lg
            b Order
            | CMS
        // Header Navbar: style can be found in header.less
        nav.navbar.navbar-static-top(role='navigation')
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown.user.user-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  img.user-image(src='../public/dist/img/user2-160x160.jpg', alt='User Image')
                  span.hidden-xs #{currentUser.firstName}
                ul.dropdown-menu
                  // User image
                  li.user-header
                    img.img-circle(src='../public/dist/img/user2-160x160.jpg', alt='User Image')
                    p
                      | #{currentUser.firstName} - Web Developer
                      small Admin User
                  // Menu Footer
                  li.user-footer
                    .pull-left
                      a.btn.btn-default.btn-flat(href='#') Profile
                    .pull-right
                      a.btn.btn-default.btn-flat(href='/logout') Sign out
      // Left side column. contains the logo and sidebar
      aside.main-sidebar
        // sidebar: style can be found in sidebar.less
        section.sidebar
          // Sidebar user panel
          .user-panel
            .pull-left.image
              img.img-circle(src='../public/dist/img/user2-160x160.jpg', alt='User Image')
            .pull-left.info
              p #{currentUser.firstName}
          // search form
          form.sidebar-form(action='#', method='get')
            .input-group
              input.form-control(type='text', name='q', placeholder='Search...')
              span.input-group-btn
                button#search-btn.btn.btn-flat(type='submit', name='search')
                  i.fa.fa-search
          // /.search form
          // sidebar menu: : style can be found in sidebar.less
          ul.sidebar-menu
            li.header MAIN NAVIGATION
            li
              a(href='#')
                i.fa.fa-table
                span User
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/userList')
                    i.fa.fa-circle-o
                    |  List of Users
                li
                  a(href='/addUser')
                    i.fa.fa-circle-o
                    |  Add a User
                li
                  a(href='/orderHistory')
                    i.fa.fa-circle-o
                    |  User Order history
            li
              a(href='#')
                i.fa.fa-envelope
                span Categories
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/categoryList')
                    i.fa.fa-circle-o
                    |  List of Categories
                li
                  a(href='/addCategory')
                    i.fa.fa-circle-o
                    |  Add a category
            li
              a(href='#')
                i.fa.fa-calendar
                span Recipe
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/itemList')
                    i.fa.fa-circle-o
                    |  List of Recipes
                li
                  a(href='/addItem')
                    i.fa.fa-circle-o
                    |  Add a Recipe
                li
                  a(href='/menuList')
                    i.fa.fa-circle-o
                    |  List of Menu
                li
                  a(href='/addMenu')
                    i.fa.fa-circle-o
                    |  Add a Menu
            li.active
              a(href='/order')
                i.fa.fa-share
                span Order
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/orderList')
                    i.fa.fa-circle-o
                    |  List of Orders
                li.active
                  a(href='/addOrder')
                    i.fa.fa-circle-o
                    |  Place an Order
            li
              a(href='/singleItems')
                i.fa.fa-pie-chart
                | Item List
            li
              a(href='#')
                i.fa.fa-pie-chart
                span New Assembly
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/nassembly')
                    i.fa.fa-circle-o
                    |  Single orders
                li
                  a(href='/singleOrdersWithExtras')
                    i.fa.fa-circle-o
                    |  Single orders with Extra
                li
                  a(href='/multipleCategoryOrders')
                    i.fa.fa-circle-o
                    |  Multiple Category Orders
            li
              a(href='/assembly')
                i.fa.fa-pie-chart
                span Assembly
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/orderList')
                    i.fa.fa-circle-o
                    |  Single orders
                li.active
                  a(href='/addOrder')
                    i.fa.fa-circle-o
                    |  Mixed Orders
        // /.sidebar
      // Content Wrapper. Contains page content
      .content-wrapper
        // Main content
        section.content
          .row
            .box.box-info
              .box-header.with-border
                h3.box-title Place an order
              // /.box-header
              // form start
              form.form-horizontal(method='POST' name='toSubmit')
                .box-body
                  .form-group
                    label.col-sm-2.control-label Pick a date
                    .col-sm-10
                      .input-group
                        .input-group-addon
                          i.fa.fa-calendar
                        if (result)
                          -var date = result.date.toDateString();
                          input.form-control.datepicker(type='text', id='dateSelected' name='date' disabled value=date)
                        else
                          input.form-control.datepicker(type='text', id='dateSelected' name='date')
                  .form-group
                    label.col-sm-2.control-label Meal type
                    .col-sm-10
                      select.form-control(name = 'meal' id='mealSelected' )
                        option(selected='selected')
                          | #{result?(result.meal?result.meal:''):''}
                        option Lunch
                        option Dinner
                  .form-group
                    label.col-sm-2.control-label Category
                    .col-sm-10
                      select.form-control(name = 'category' id = 'categorySelected' )
                        option(selected='selected')
                          | #{order?(order.category?order.category:''):''}
                        each itemCategory in itemCategories
                          option #{itemCategory.name}
                  .form-group
                    label.col-sm-2.control-label Select Menu
                    .col-sm-10
                      select.form-control(id='getMenuList' )
                        option
                      br
                  if (result)
                    .form-group
                      label.col-sm-2.control-label Added Menus
                      .col-sm-10
                        ol
                          each menu, index in result.menu
                            div(data-removePreId=index)
                              table.table.table-bordered.table-hover
                                tbody
                                  tr
                                    td
                                      li
                                        input(type='hidden', name="allPreMenus[]", value= '#{menu._id._id}')
                                        | #{menu._id.title}
                                      td
                                        | #{menu.singleQuantity}
                                if (menu.attributes.name)
                                  table.table.table-bordered.table-hover
                                    tbody
                                      tr
                                        td
                                          input(type='radio', checked, name="")
                                          | #{menu.attributes.name}
                              .btn-tools.pull-right
                                button#index.btn.btn-box-tool(type='button' data-count=index onclick='deletePreSelectBox(#{index})')
                                  i.fa.fa-times
                              br
                              br
                  #selectedMenu
                    br
                  .form-group
                    label.col-sm-2.control-label User
                    .col-sm-10
                      select.form-control(name = 'user' id = 'userSelectedEmail')
                        option(selected='selected')
                          | #{result?(result.user?result.user:''):''}
                        each user in users
                          option #{user.email}
                    #userAmount
                  .form-group
                    label.col-sm-2.control-label Select User Address
                    .col-sm-10
                      select.form-control(name = 'address' id = 'getUserAddress' )
                        option(selected='selected')
                          | #{result?(result.address._id.tag?result.address._id.tag:''):''}
                        if(addressTag)
                          each addressTags in addressTag
                            option #{addressTags}
                  #userAddress
                    if (result)
                      .form-group
                        label.col-sm-2.control-label Address
                        .col-sm-10
                          input.form-control(type='text', id='', name='tag[]' placeholder='Add a tag - Home, Office or custom' disabled value=(result?(result.address._id.tag?result.address._id.tag:''):''))
                          input.form-control(type='text', id='', name='flatNo[]' placeholder='Building Name and Flat Number' disabled value=(result?(result.address._id.flatNo?result.address._id.flatNo:''):''))
                          input.form-control(type='text', id='', name='streetAddress[]' disabled placeholder='Enter your street Address...' value=(result?(result.address._id.streetAddress?result.address._id.streetAddress:''):''))
                          input.form-control(type='text', id='', name='landmark[]' disabled placeholder='Landmark' value=(result?(result.address._id.landmark?result.address._id.landmark:''):''))
                          input.form-control(type='Number', id='', name='pincode[]' disabled placeholder='Pincode' value=(result?(result.address._id.pincode?result.address._id.pincode:''):''))
                          input.form-control(type='Number', id='', name='pincode[]' disabled placeholder='Contact Number' value=(userFound?(userFound.contactNo?userFound.contactNo:''):''))
                // /.box-body
                .box-footer
                  if(result)
                    a(href='/addOrder/delete/#{result._id}/#{result.user}')
                      button.btn.btn-info.pull-left(type='button') Cancel Order
                    button.btn.btn-info.pull-right#submitButton(type='submit') Edit
                  else
                    button.btn.btn-info.pull-right#submitButton(type='submit') Add
                // /.box-footer
            // /.box
          // /.row
        // /.content
      // /.content-wrapper
      footer.main-footer
        .pull-right.hidden-xs
          b Version
          |  2.3.0
        strong
          | OrderCMS WAS Powered by
          a(href='http://keystonejs.com/') KeystoneJS
          | .
        |  version 0.3.16.
    // ./wrapper
    // jQuery 2.1.4
    script(src='../public/plugins/jQuery/jQuery-2.1.4.min.js')
    // Bootstrap 3.3.5
    script(src='../public/bootstrap/js/bootstrap.min.js')
    // FastClick
    script(src='../public/plugins/fastclick/fastclick.min.js')
    // DataTables
    script(src='../public/plugins/datatables/jquery.dataTables.min.js')
    script(src='../public/plugins/datatables/dataTables.bootstrap.min.js')
    // date-picker
    script(src='../public/bootstrap/js/bootstrap-datepicker.js')
    // AdminLTE App
    script(src='../public/dist/js/app.min.js')
    // page script
    script.
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
        //Date picker
        $('.datepicker').datepicker();
        
        $('#mealSelected').attr('disabled', true);
        //check if edit order
        var url = window.location.pathname;
        if (url.indexOf('editOrder') > -1) {
          $date = $("#dateSelected").val();
          console.log($date);
          $meal = $("#categorySelected").val();
          $category = $("#categorySelected").val();
          $.getJSON("/getMenusFromOptions",{
            date: $date,
            meal: $meal,
            category: $category,
            ajax: 'true'
          }, function(j){
            if( j.length == 0 ){
              var options = '';
              options += '<option>'+ "No Menus available" +'</option>'
              $("select#getMenuList").html(options);
            }
            else{
              var options = '<option> Select a menu </option>';
              for (var i = 0; i < j.length; i++) {
                options += '<option data-checked='+ j[i].checked +' value="'+ j[i].id +'" data-menuName="' + j[i].item + '">' + j[i].item + '</option>';
              }
              $("select#getMenuList").html(options);
            }
          })
        }
        
        //populate
        $("#dateSelected").focusout(function(){
          $('#mealSelected').attr('disabled', false);
          //remove meal type
          $('#mealSelected').val('');
          $date = $("#dateSelected").val();
          $('#getMenuList').attr('disabled', true);
          //- $meal = $("#mealSelected").val();
          //- $category = $("#categorySelected").val();
          //- $.getJSON("/getMenusFromOptions",{
          //-   date: $date,
          //-   meal: $meal,
          //-   category: $category,
          //-   ajax: 'true'
          //- }, function(j){
          //-   if( j.length == 0 ){
          //-     var options = '';
          //-     options += '<option>'+ "No Menus available" +'</option>'
          //-     $("select#getMenuList").html(options);
          //-   }
          //-   else{
          //-     var options = '<option> Select a menu </option>';
          //-     for (var i = 0; i < j.length; i++) {
          //-       options += '<option data-checked='+ j[i].checked +' value="'+ j[i].id +'" data-menuName="' + j[i].item + '">' + j[i].item + '</option>';
          //-     }
          //-     $("select#getMenuList").html(options);
          //-   }
          //- })
        })
        //mealSelected
        $("select#mealSelected").change(function(){
          $('#categorySelected').attr('disabled', false);
          $('#getMenuList').attr('disabled', false);
          $date = $("#dateSelected").val();
          console.log($date);
          $meal = $(this).val();
          $category = $("#categorySelected").val();
          $.getJSON("/getMenusFromOptions",{
            date: $date,
            meal: $meal,
            category: $category,
            ajax: 'true'
          }, function(j){
            if( j.length == 0 ){
              var options = '';
              options += '<option>'+ "No Menus available" +'</option>'
              $("select#getMenuList").html(options);
            }
            else{
              var options = '<option> Select a menu </option>';
              for (var i = 0; i < j.length; i++) {
                options += '<option data-checked='+ j[i].checked +' value="'+ j[i].id +'" data-menuName="' + j[i].item + '">' + j[i].item + '</option>';
              }
              $("select#getMenuList").html(options);
            }
          })
        })
        //categorySelected
        $("select#categorySelected").change(function(){
          $date = $("#dateSelected").val();
          $meal = $("#mealSelected").val();
          $category = $(this).val();
          $.getJSON("/getMenusFromOptions",{
            date: $date,
            meal: $meal,
            category: $category,
            ajax: 'true'
          }, function(j){
            if( j.length == 0 ){
              var options = '';
              options += '<option>'+ "No Menus available" +'</option>'
              $("select#getMenuList").html(options);
            }
            else{
              var options = '<option> Select a menu </option>';
              for (var i = 0; i < j.length; i++) {
                options += '<option data-checked='+ j[i].checked +' value="'+ j[i].id +'" data-menuName="' + j[i].item + '">' + j[i].item + '</option>';
              }
              $("select#getMenuList").html(options);
            }
          })
        })
        //getUserAddress
        $("select#userSelectedEmail").change(function(){
          $userEmail = $(this).val();
          $.getJSON("/getUserAddress",{
            userEmail: $userEmail
          }, function(j){
            var options = '';
            var newTextField = $(document.createElement('div'));
            var newAddressField = $(document.createElement('div'));
            var addressField = '';
            for (var i = 0; i < j.length; i++) {
              options += '<option>' + j[i].address + '</option>';
              addressField += '<div class="form-group"><label class="col-sm-2 control-label">Full Address</label><div class="col-sm-10"><input type="text" disabled="disabled" placeholder="Tag" value="'+ j[i].address +'" class="form-control"/><input type="text" disabled="disabled" placeholder="Building Name and Flat Number" value="'+ j[i].flatNo +'" class="form-control"/><input type="text" disabled="disabled" placeholder="Enter your street Address..." value="'+ j[i].streetAddress +'" class="form-control"/><input type="text" disabled="disabled" placeholder="Landmark" value="'+ j[i].landmark +'" class="form-control"/><input type="Number" disabled="disabled" placeholder="Pincode" value="'+ j[i].pincode +'" class="form-control"/><input type="Number"  disabled="disabled" placeholder="Contact Number" value="'+ j[i].contactNo +'" class="form-control"/></div></div>';
            }
            $("select#getUserAddress").html(options);
            $("#userAmount").html('');
            newTextField.after().html('<label class="col-sm-2 control-label">User amount</label><div class="col-sm-10"><p>'+ j[0].amount +'</p></div>');
            newTextField.appendTo('#userAmount');
            $("#userAddress").html('');
            newAddressField.after().html(addressField);
            newAddressField.appendTo('#userAddress');
          })
        })
        var count = 0;
        $("select#getMenuList").change(function(){
          $('#submitButton').attr('disabled', false);
          var newTextField = $(document.createElement('div'))
          var menuData = $(this).find(':selected').attr('data-menuName');
          var check = $("option:selected", this).attr("data-checked");
          var generatedMenu = '';
          generatedMenu += '<div data-removeId="'+count+'"><label class="col-sm-2 control-label">Selected</label><div class="col-sm-10"><input type="hidden" data-getPosition='+count+' name="getPosition[]" value="'+check+'"><input type = "hidden" data-customizeOrderId="'+count+'"  name="allMenus[]" value="'+$(this).val()+'"><table class="table table-bordered table-hover"><tbody><td>'+ menuData +'</td>';
          generatedMenu += '<td>Select container Type: <select name="containerType[]"><option></option><option>Steel</option><option>Disposable</option></select></td><td>Quantity : <input type = "text" class="" name = "singleQuantity[]" value = "1"></td></tbody></table>';
          if (check != 'normal')
            generatedMenu += '<div class="btn-tools"><div data-customizeDivTag="'+ count +'"></div><button class="btn btn-box-tool pull-left" data-removeBtn='+count+' type="button" onclick="customizeMenu('+count+','+check+')">Customize</button>';
          if (check == 'normal' || check == 'hasAttributes')
            generatedMenu += '<input type="hidden" name="subItemsId['+count+']""><input type="hidden" name="subItemsName['+count+']"><input type="hidden" name="subItemsQuantity['+count+']"><input type="hidden" name="subItemsCost['+count+']"><input type="hidden" name="subItemsContainer['+count+']">';
          if (check == 'normal' || check == 'true')
            generatedMenu += '<input type="hidden" name="attributesName['+count+']">';
          generatedMenu += '<button class="btn btn-box-tool  pull-right" type="button" onclick="deleteSelectBox('+count+')"><i class="fa fa-times"></i></button></div></div>';
          newTextField.after().html(generatedMenu);
          newTextField.appendTo('#selectedMenu');
          console.log(check);
          if (check === 'hasAttributes' || check == 'false'){
            customizeMenu(count, check);
            var z = $('[data-removeBtn="'+count+'"]');
            z.remove();
          }
          count++;
        })
        })
        //deleting select
        function deleteSelectBox(d){
          var x = $('[data-removeId="'+d+'"]');
          x.remove();
        }
        //deleting select
        function deletePreSelectBox(d){
          var x = $('[data-removePreId="'+d+'"]');
          x.remove();
        }
        function customizeMenu(d, check) {
          var x = $('[data-customizeOrderId = "'+d+'"]').val();
          var z = $('[data-removeBtn="'+d+'"]');
          console.log(check);
          if (check == 'false')
            $('[data-getPosition = '+d+' ]').attr("value", "true");
          z.remove();
          $.getJSON("/getCustomizedMenuToItem", {
            id : x
          }, function(j){
            var newTextField = $(document.createElement('div'))
            //console.log(j[0].quantity);
            if (check == 'false')
              var generatedTable = '<table class="table table-bordered table-hover"><thead><th>Item</th><th>Quantity</th><th>Cost</th></thead><tbody>';
            if (check == 'hasAttributes')
              var generatedTable = '<table class="table table-bordered table-hover"><thead><th>Quantity</th><th>Cost</th></thead><tbody>';
            //var subItemsName = [];
            for (var i = 0; i < j.length; i++){
              if(j[i].quantity){
                generatedTable += '<tr><td><input type="hidden" name="subItemsId['+d+']" value="'+j[i].id+'">'+ j[i].name +'</td><td><input type = "Number" name = "subItemsQuantity['+d+']" value = '+ j[i].quantity +'></td><td><input type = "hidden" name = "subItemsCost['+d+']" value = '+ j[i].cost +'>'+ j[i].cost +'</td></tr>';
              }
              else{
                generatedTable += '<tr><td><input type = "radio" checked name = "attributesName['+d+']" value='+ j[i].name +'>&nbsp&nbsp'+ j[i].name +'</td><td>'+ j[i].cost +'</td>';
                //if (i==0) generatedTable += '<td rowspan="2"><input type="Number" name="attributesQuantity[]" value="1"></td></tr>';
              }
            }
            generatedTable += '</table>'
            newTextField.after().html(generatedTable);
            newTextField.appendTo('[data-customizeDivTag = "'+d+'"]');
          })
        }
