doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title OrderCMS
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.5
    link(rel='stylesheet', href='../public/bootstrap/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    // DataTables
    link(rel='stylesheet', href='../public/plugins/datatables/dataTables.bootstrap.css')
    // datepicker
    link(rel='stylesheet', href='../public/bootstrap/css/datepicker.css')
    // Theme style
    link(rel='stylesheet', href='../public/dist/css/AdminLTE.min.css')
    //
      AdminLTE Skins. Choose a skin from the css/skins
      folder instead of downloading all of them to reduce the load.
    link(rel='stylesheet', href='../public/dist/css/skins/_all-skins.min.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      header.main-header
        // Logo
        a.logo(href='/itemList')
          // mini logo for sidebar mini 50x50 pixels
          span.logo-mini
            b A
            | LT
          // logo for regular state and mobile devices
          span.logo-lg
            b Order
            | CMS
        // Header Navbar: style can be found in header.less
        nav.navbar.navbar-static-top(role='navigation')
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown.user.user-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  img.user-image(src='../public/dist/img/user2-160x160.jpg', alt='User Image')
                  span.hidden-xs #{currentUser.firstName}
                ul.dropdown-menu
                  // User image
                  li.user-header
                    img.img-circle(src='../public/dist/img/user2-160x160.jpg', alt='User Image')
                    p
                      | #{currentUser.firstName} - Web Developer
                      small Admin User
                  // Menu Footer
                  li.user-footer
                    .pull-left
                      a.btn.btn-default.btn-flat(href='#') Profile
                    .pull-right
                      a.btn.btn-default.btn-flat(href='/logout') Sign out
      // Left side column. contains the logo and sidebar
      aside.main-sidebar
        // sidebar: style can be found in sidebar.less
        section.sidebar
          // Sidebar user panel
          .user-panel
            .pull-left.image
              img.img-circle(src='../public/dist/img/user2-160x160.jpg', alt='User Image')
            .pull-left.info
              p #{currentUser.firstName}
          // search form
          form.sidebar-form(action='#', method='get')
            .input-group
              input.form-control(type='text', name='q', placeholder='Search...')
              span.input-group-btn
                button#search-btn.btn.btn-flat(type='submit', name='search')
                  i.fa.fa-search
          // /.search form
          // sidebar menu: : style can be found in sidebar.less
          ul.sidebar-menu
            li.header MAIN NAVIGATION
            if (currentUser.type != 'Staff')
              li
                a(href='#')
                  i.fa.fa-table
                  span User
                  i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='/userList')
                      i.fa.fa-circle-o
                      |  List of Users
                  li
                    a(href='/addUser')
                      i.fa.fa-circle-o
                      |  Add a User
                  li
                    a(href='/orderHistory')
                      i.fa.fa-circle-o
                      |  User Order history
              li
                a(href='#')
                  i.fa.fa-envelope
                  span Categories
                  i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='/categoryList')
                      i.fa.fa-circle-o
                      |  List of Categories
                  li
                    a(href='/addCategory')
                      i.fa.fa-circle-o
                      |  Add a category
              li
                a(href='#')
                  i.fa.fa-calendar
                  span Recipe
                  i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='/itemList')
                      i.fa.fa-circle-o
                      |  List of Recipes
                  li
                    a(href='/addItem')
                      i.fa.fa-circle-o
                      |  Add a Recipe
                  li
                    a(href='/menuList')
                      i.fa.fa-circle-o
                      |  List of Menu
                  li
                    a(href='/addMenu')
                      i.fa.fa-circle-o
                      |  Add a Menu
              li
                a(href='/order')
                  i.fa.fa-share
                  span Order
                  i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li.active
                    a(href='/orderList')
                      i.fa.fa-circle-o
                      |  List of Orders
                  li
                    a(href='/addOrder')
                      i.fa.fa-circle-o
                      |  Place an Order
            li
              a(href='/singleItems')
                i.fa.fa-pie-chart
                | Item List
            li
              a(href='#')
                i.fa.fa-pie-chart
                span New Assembly
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/nassembly')
                    i.fa.fa-circle-o
                    |  Single orders
                li
                  a(href='/singleOrdersWithExtras')
                    i.fa.fa-circle-o
                    |  Single orders with Extra
                li
                  a(href='/multipleCategoryOrders')
                    i.fa.fa-circle-o
                    |  Multiple Category Orders
            li.active
              a(href='/assembly')
                i.fa.fa-pie-chart
                span Assembly
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='/assembly')
                    i.fa.fa-circle-o
                    |  Single orders
                li.active
                  a(href='/mixedAssembly')
                    i.fa.fa-circle-o
                    |  Single orders with Extra
                li
                  a(href='/multipleAssembly')
                    i.fa.fa-circle-o
                    |  Multiple Category Orders
        // /.sidebar
      // Content Wrapper. Contains page content
      .content-wrapper
        // Main content
        section.content
          .row
            .box.box-info
              .box-header
                h3.box-title
                  b Choose Category
              // /.box-header
              .box-body
                form.form-horizontal
                  .form-group
                    label.col-sm-2.control-label Pick a date
                    .col-sm-3
                      .input-group
                        .input-group-addon
                          i.fa.fa-calendar
                        input.form-control.datepicker#dateSelected(type='text', name='date' value=(menu?(menu.date?menu.date:''):''))
                  .form-group
                    label.col-sm-2.control-label Meal type
                    .col-sm-3
                      select.form-control(name = 'meal' id='mealSelected')
                        option Lunch
                        option Dinner
                  .form-group
                    label.col-sm-2.control-label Veg Categories
                    .col-sm-6
                      table
                        tr
                          each itemCategory in itemCategories
                            td
                              button.btn.btn-app#selectedCategory(type='button' data-getButton='n-#{itemCategory._id}' data-mealType = 'Veg' value = '#{itemCategory.name}')
                                | #{itemCategory.name}
                          td
                            button.btn.btn-app#selectedCategory(type='button' data-getButton='int' data-mealType = 'Veg' value = 'International')
                              | International
                  .form-group
                    label.col-sm-2.control-label Non-Veg Categories
                    .col-sm-6
                      table
                        tr
                          each itemCategory in itemCategories
                            td
                              button.btn.btn-app#selectedCategory(type='button' data-getButton='n-#{itemCategory._id}' data-mealType = 'Non Veg' value = '#{itemCategory.name}')
                                | #{itemCategory.name}
                          td
                            button.btn.btn-app#selectedCategory(type='button' data-getButton='int' data-mealType = 'Non Veg' value = 'International')
                              | International
          .row#displaySimilar
          .row#displaySection
              // /.box-body
            // /.box
          // /.row
        // /.content
      // /.content-wrapper
      footer.main-footer
        .pull-right.hidden-xs
          b Version
          |  2.3.0
        strong
          | OrderCMS WAS Powered by
          a(href='http://keystonejs.com/') KeystoneJS
          | .
        |  version 0.3.16.
    // ./wrapper
    // jQuery 2.1.4
    script(src='../public/plugins/jQuery/jQuery-2.1.4.min.js')
    // Bootstrap 3.3.5
    script(src='../public/bootstrap/js/bootstrap.min.js')
    // FastClick
    script(src='../public/plugins/fastclick/fastclick.min.js')
    // DataTables
    script(src='../public/plugins/datatables/jquery.dataTables.min.js')
    script(src='../public/plugins/datatables/dataTables.bootstrap.min.js')
    // date-picker
    script(src='../public/bootstrap/js/bootstrap-datepicker.js')
    // AdminLTE App
    script(src='../public/dist/js/app.min.js')
    // page script
    script.
      $(function () {
        $.fn.dataTable.ext.errMode = 'none';
        //get todays date
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
        dd='0'+dd
        }
        if(mm<10){
        mm='0'+mm
        }
        var today = dd+'-'+mm+'-'+yyyy;
        console.log(today);
        $('#dateSelected').val(today);
        $('.datepicker').datepicker({
          "format": "dd-mm-yyyy"
        });
        //non-customized
        $('button#selectedCategory').click(function(){
          $category = $(this).val();
          $date = $('#dateSelected').val();
          $mealType = $(this).attr('data-mealType');
          $meal = $('#mealSelected').val();
          if ( !$('#mealSelected').val() )
            alert("Please Select Lunch or Dinner");
          if ( !$('#dateSelected').val() )
            alert("Please Select Date");
          $.getJSON("http://os.foodees.in/Services/Services.svc/Gettodaysorderbycustomer/"+$date+','+$meal, {
          },function(j){
            //get all orders
            var allOrders = [], listOfOrdersByAddress = [], sortedMixedOrders = [];
            allOrders = allOrders.concat(j.GettodaysorderbycustomerResult.listnoncustomizeorder);
            allOrders = allOrders.concat(j.GettodaysorderbycustomerResult.listcustomizeorder);
            var listOfOrdersByAddressCounter = 0, listOfAddresses = [];
            console.log(allOrders.length)
            //sort all orders
            for (var i=0; i<allOrders.length; i++) {
              //get all unique addresses
              if (listOfAddresses.indexOf(allOrders[i].custaddress) < 0) {
                listOfOrdersByAddress[listOfOrdersByAddressCounter] = {
                  address : allOrders[i].custaddress
                };
                listOfAddresses.push(allOrders[i].custaddress);
                listOfOrdersByAddressCounter++;
              }
            }
            console.log(listOfOrdersByAddress.length);
            /*
            *----- get orders by each user
            *----- sort by mealType && category
            */
            for (var k=0; k<listOfOrdersByAddress.length; k++) {
              listOfOrdersByAddress[k].orderList = [];
              listOfOrdersByAddress[k].orderCount = 0;
              for (var l=0; l<allOrders.length; l++) {
                if (listOfOrdersByAddress[k].address == allOrders[l].custaddress) {
                  listOfOrdersByAddress[k].orderList.push(allOrders[l]);
                  listOfOrdersByAddress[k].orderCount++;
                  
                  //veg non veg distinguishing
                  if ((allOrders[l].Meal_Name).indexOf('Veg') > -1 && (allOrders[l].Meal_Name).indexOf('Non Veg') < 0)
                    listOfOrdersByAddress[k].mealType = 'Veg';
                  if ((allOrders[l].Meal_Name).indexOf('Non Veg') > -1)
                    listOfOrdersByAddress[k].mealType = 'Non Veg';
                }
              }
            }

            //console.log(listOfOrdersByAddress);
            //find if mixed
            for (var m=0; m<listOfOrdersByAddress.length; m++) {
              var extrasCount = 1;
              for (var i = 0; i < listOfOrdersByAddress[m].orderList.length; i++) {
                if ((listOfOrdersByAddress[m].orderList[i].catName).toLowerCase() == 'extras') {
                  extrasCount++;
                  if (extrasCount == listOfOrdersByAddress[m].orderList.length)
                    listOfOrdersByAddress[m].mixed = true;
                }
              }
            }
            console.log(listOfOrdersByAddress.length);
            //sort listOfOrdersByAddress by similar orders
            var positions = [];
            for (var a=0; a<listOfOrdersByAddress.length; a++) {
              for (var b=a+1; b<listOfOrdersByAddress.length; b++) {
                var foundCount = 0;
                if (listOfOrdersByAddress[a].mixed && listOfOrdersByAddress[b].mixed)
                  for (var c=0; c<listOfOrdersByAddress[a].orderList.length; c++) {
                    for (var d=0; d<listOfOrdersByAddress[b].orderList.length; d++) {
                      if (listOfOrdersByAddress[a].orderCount > 1 && listOfOrdersByAddress[a].orderList.length == listOfOrdersByAddress[b].orderList.length) {
                        if (listOfOrdersByAddress[a].orderList[c].Meal_Name == listOfOrdersByAddress[b].orderList[d].Meal_Name) {
                          foundCount++;
                        }
                        if (foundCount == listOfOrdersByAddress[a].orderList.length) {
                          positions.push(a);
                          positions.push(b);
                        }
                      }
                    }
                  }
              }
            }
            //get unique positions
            var uniquePositions = [];
            for (var a=0; a<positions.length; a++) {
              if (uniquePositions.indexOf(positions[a]) < 0)
                uniquePositions.push(positions[a]);
            }
            console.log(uniquePositions);
            //now get sorted arrays
            for (var b=0; b<uniquePositions.length; b++) {
              if (listOfOrdersByAddress[uniquePositions[b]].mixed)
                sortedMixedOrders.push(listOfOrdersByAddress[uniquePositions[b]]);
            }
            
            console.log(sortedMixedOrders.length);
            console.log(sortedMixedOrders);
            
            //displaying of sortedMixedOrders
            $('#displaySimilar').html('');
            var similarDivId = 0;
            for (var m=0; m<sortedMixedOrders.length; m++) {
              //console.log(sortedMixedOrders[m].mixed);
              var similarCount = 0;
              for (var z=m; z<sortedMixedOrders.length; z++) {
                //console.log(sortedSimilarOrders[m]);
                if (sortedMixedOrders[m].orderList[0].Meal_Name == sortedMixedOrders[z].orderList[0].Meal_Name && sortedMixedOrders[m].orderList[1].Meal_Name == sortedMixedOrders[z].orderList[1].Meal_Name || sortedMixedOrders[m].orderList[1].Meal_Name == sortedMixedOrders[z].orderList[0].Meal_Name && sortedMixedOrders[m].orderList[0].Meal_Name == sortedMixedOrders[z].orderList[1].Meal_Name)
                  similarCount++;
              }
              if (similarCount > 0) {
                var categoryFound = false, drawOnce = true;
                for (var y=0; y<similarCount; y++) {
                  for (var k = 0; k < sortedMixedOrders[m+y].orderList.length; k++)
                    if (sortedMixedOrders[m+y].orderList[k].catName == $category)
                      categoryFound = true;
                  for (var i = 0; i < sortedMixedOrders[m+y].orderList.length; i++) {
                    if (categoryFound && sortedMixedOrders[m+y].mealType == $mealType) {
                      if (drawOnce) {
                        var addToTableSimilar = '<div id="'+similarDivId+'" class="box box-success"><div class="box-header"><h3 class="box-title">Orders with similar meal name</h3></div><!-- /.box-header--><div id="" class="box-body"><table id="example2" class="table table-bordered table-hover"><thead><tr><th>User</th><th>Address</th><th>Meal</th><th>Details</th><th>Container</th></tr></thead><tbody>';
                        drawOnce = false;
                      }
                      if (i == 0) {
                        addToTableSimilar += '<tr><td rowspan='+sortedMixedOrders[m+y].orderList.length+'>'+ sortedMixedOrders[m+y].orderList[0].customerName +'</td>';
                        var formattedString = sortedMixedOrders[m+y].address.split(",").join(",<br />");
                        addToTableSimilar += '<td rowspan='+sortedMixedOrders[m+y].orderList.length+'>'+ formattedString +'</td>';
                      }
                      addToTableSimilar += '<td>'+ sortedMixedOrders[m+y].orderList[i].Meal_Name +'</td>';
                      addToTableSimilar += '<td>'
                      if (sortedMixedOrders[m+y].orderList[i].subdetails) {
                        var formattedString = sortedMixedOrders[m+y].orderList[i].subdetails.split(",").join(",<br />");
                        addToTableSimilar += ''+ formattedString+',<br>';
                      }
                      addToTableSimilar += '<b>Total Quantity - '+sortedMixedOrders[m+y].orderList[i].qty+'</td>';
                      addToTableSimilar += '<td><b>'+sortedMixedOrders[m+y].orderList[i].containertype+'</b><br>';
                      if (sortedMixedOrders[m+y].orderList[i].specialinstruction)
                        addToTableSimilar += '<br /><b> Speacial Instruction - '+sortedMixedOrders[m+y].orderList[i].specialinstruction+'</td></tr>';
                      else
                        addToTableSimilar += '</td></tr>';
                      addToTableSimilar += '</td></tr>';
                      var displayLastDiv = true;
                    }
                  }
                }
                m += similarCount - 1;
                if (y > 1 && displayLastDiv) {
                  addToTableSimilar += '</tbody></table><br /><button id="" type="button" class="btn btn-info pull-left" onclick = "prinSimilartDiv('+similarDivId+')">Print</button><button id="" type="button" class="btn btn-info pull-right">Next</button></div></div>';
                  $('#displaySimilar').append(addToTableSimilar);
                  $('#example2').DataTable({
                  "paging": false,
                  "lengthChange": true,
                  "searching": false,
                  "ordering": false,
                  "info": true,
                  "autoWidth": true
                  });
                  displayLastDiv = false;
                }
              }
              similarDivId++;
            }
            //displaying of listOfOrdersByAddress
            $('#displaySection').html('');
            var addToTable = '<div class="box box-success"><div class="box-header"><h3 class="box-title">Mixed Order List - <b>'+$category+'</b></h3></div><!-- /.box-header--><div id="displaySection" class="box-body"><table id="example3" class="table table-bordered table-hover"><thead><tr><th>User</th><th>Address</th><th>Meal</th><th>Details</th><th>Container</th></tr></thead><tbody>';
            for (var m=0; m<listOfOrdersByAddress.length; m++) {
              //console.log(listOfOrdersByAddress[m].mixed);
              var categoryFound = false;
              for (var k = 0; k < listOfOrdersByAddress[m].orderList.length; k++)
                if (listOfOrdersByAddress[m].orderList[k].catName == $category)
                  categoryFound = true;
              for (var i = 0; i < listOfOrdersByAddress[m].orderList.length; i++) {
                if (listOfOrdersByAddress[m].mixed && uniquePositions.indexOf(m) < 0 && categoryFound && listOfOrdersByAddress[m].mealType == $mealType) {
                  if (i == 0) {
                    addToTable += '<tr><td rowspan='+listOfOrdersByAddress[m].orderList.length+'>'+ listOfOrdersByAddress[m].orderList[0].customerName +'</td>';
                    var formattedString = listOfOrdersByAddress[m].address.split(",").join(",<br />");
                    addToTable += '<td rowspan='+listOfOrdersByAddress[m].orderList.length+'>'+ formattedString +'</td>';
                  }
                  addToTable += '<td>'+ listOfOrdersByAddress[m].orderList[i].Meal_Name +'</td>';
                  addToTable += '<td>'
                  if (listOfOrdersByAddress[m].orderList[i].subdetails) {
                    var formattedString = listOfOrdersByAddress[m].orderList[i].subdetails.split(",").join(",<br />");
                    addToTable += ''+ formattedString+',<br>';
                  }
                  addToTable += '<b>Total Quantity - '+listOfOrdersByAddress[m].orderList[i].qty+'</td>';
                  addToTable += '<td><b>'+listOfOrdersByAddress[m].orderList[i].containertype+'</b><br>';
                  if (listOfOrdersByAddress[m].orderList[i].specialinstruction)
                    addToTable += '<br /><b> Speacial Instruction - '+listOfOrdersByAddress[m].orderList[i].specialinstruction+'</td></tr>';
                  else
                    addToTable += '</td></tr>';
                  addToTable += '</td></tr>';
                }
              }
            }
            addToTable += '</tbody></table><br /><button id="" type="button" class="btn btn-info pull-left" onclick = "printDiv()">Print</button><button id="" type="button" class="btn btn-info pull-right">Next</button></div></div>';
            //console.log(addToTable)
            $('#displaySection').append(addToTable);
            $('#example3').DataTable({
            "paging": false,
            "lengthChange": true,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": true
            });
          })
        });


        $('button#disabler').click(function(){
          var dataTagetButton = $('#example2').attr('data-targetButton');
          var CustomizedButton = $('#example2').attr('data-CustomizedButton');
          $('#example2 tbody').html('');
          $(':button[data-getButton = '+dataTagetButton+']').attr('disabled', true);
          $(':button[data-getButton = '+CustomizedButton+']').attr('disabled', true);
        });
      });
      function prinSimilartDiv(x){
         var printContents = document.getElementById(x).innerHTML;
         var originalContents = document.body.innerHTML;
         document.body.innerHTML = printContents;
         window.print();
         document.body.innerHTML = originalContents;
      }
      function printDiv(){
         var printContents = document.getElementById("displaySection").innerHTML;
         var originalContents = document.body.innerHTML;
         document.body.innerHTML = printContents;
         window.print();
         document.body.innerHTML = originalContents;
      }
